-i https://pypi.org/simple/
django-cors-headers==3.0.2
django-pagedown==1.0.6
django-taggit-serializer==0.1.7
django-taggit==1.1.0
django==2.2.13
djangorestframework==3.9.4
gunicorn==19.9.0
psycopg2==2.8.2
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
