/*********************************
*                                *
*       Page Header Styles       *
*                                *
**********************************/



.header, .navbar {
	background-color: rgb(255, 255, 255, 0.9);
	align-content: center;
  	margin-left: calc(50% - 50.57vw);
 	width: 100vw;
    position: fixed;
}

.title {
	text-decoration: none;
	color: black;
}

.header {
	margin-top: 1%;
}

.header h1 {
	margin-left: 5%;
	font-size: 255%;
}

/*********************************
*                                *
*         NavBar Styles          *
*                                *
**********************************/

.navbar {
	text-align: center;
	background-color: blue;
	box-shadow: 1px 5px 9px #888888;
	margin-top: 4.8%;
}


.NavBar ul  {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.NavBar li {
	display: inline-block;
}


.NavBar a {
	font-size: 20px;
	color: white;
	text-decoration: none;
	margin-right: 3em;
}

.NavBar a:hover {
	font-size: 25px;
	font-weight: bold;
}

/*********************************
*                                *
*    Main Content Body Styles    *
*                                *
**********************************/

.content {
	/*margin: 0 auto;*/
	overflow-y: auto;
	margin-top:7%;
	height: 90em;
}

.content ul {
	list-style-type: none;
}

.content h1 {

	column-count: 2;
}

/*********************************
*                                *
*        Blog Page Styles        *
*                                *
**********************************/


.blog-wrapper {
	display: grid;
	grid-template-columns: 25% 55%;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	margin-top: 6%;
}

.social-media-wrapper {
	grid-column: 1;
	grid-row: 1;
	margin-left: 12%;
	margin-top: -1%;
	position: fixed;
}


.social-media-img {
	width: 55px;
	height: 55px;
	padding-top: 55px;

}

.social-media-img:hover {
	width: 60px;
	height: 60px;
	vertical-align: top;
}

.blog-post-wrapper {
	grid-column: 2;
	grid-row: 1;
	margin-top: -6%;
}

.blog-post-wrapper h1 {
	margin-top: -1%;
	margin: 20px 0 10px;
	margin-left: 30%;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

.blog-title {
	font-size: 400%;
}

.blog-post {
	font-size: 40px;
	margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

.blog-post a {
	text-decoration: none;
	color: black;
}

.blog-post-container {
	border-bottom: thin solid;
	margin-bottom: 14%;
}

.published {
	font-style: italic;
	color: grey;
}

.tag-cont {
	margin-left: -4%;
}

.tag {
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
	padding: 5px 17px 5px 17px;
	margin-bottom: 15px;
	border: thin solid;
	border-radius: 3px;
	background-color: #f8e9a0;
	box-shadow: 2px 3px 5px 1px #f76d6d;
	margin: 2px 0 3px 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;

}



/*******************************
*                              *  
*     Post Page Styles         *
*                              *
********************************/

#post-title {
	font-size: 300%;
	color: black;
	margin-bottom: -1%;
	width: 125%;
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

.post-published {
	font-size: 20px;
	color: grey;
	font-style: italic;
}

.post-tag-wrapper {
	border-bottom: thick double;
	margin: -8px 0px 0px -3x;
}

#post-tag {
	margin-bottom: -5%;
	margin-right: 7%;
	margin-left: -5%;
}



/* Small notebooks and tablets */
@media only screen and (max-width: 1174px) {
	.navbar {margin-top: 9%;}
	.header h1 {margin-left: 39%}
	.blog-wrapper {margin-top: 15%}
}

/* Mobile phones */
@media only screen and (max-width: 600px) {
	.navbar {
		margin-top: 11%;
		margin-left: calc(50% - 51.6vw);
	}

	.navbar a:hover {font-size: 23px}
	.header {margin-top: -9%;}
	.header h1 {margin-left: 34%}
	.social-media-wrapper {
		display: none;
	}
	.blog-wrapper {
		grid-template-columns: 15% 70%;
		margin-top: 25%;
	}
	#post-title {width: 50%;}
    
}





